.extraMessage
{
	text-align: left;
	width: 90%;
	display: inline-block;
	margin-bottom: 0.5em;
}
.onSiblings:only-child
{
	display: none;
}
.shortcutFiles
{
	margin-bottom: 1em;
	text-align: right;
	margin-top: -1em;
}
.shortcuts
{
	margin-bottom: 1em;
	text-align: right;
}
.shortcut-file
{
	width: calc(90% - 2.1em);
	margin-bottom: 1em;
}
.shortcut
{
	text-align: right;
	width: 100%;
	margin-bottom: 1em;
}
.shortcut-regex
{
	width: calc(90% - 2.1em);
}
.shortcut-expansion
{
	width: 90%;
	margin-top: 0.2em;
}
.delete-button
{
	margin: 0;
	margin-left: 0.2em;
	padding: 0.5em;
}
.delete-button:before
{
	content: "🗑";
	display: inline;
}
.err-msg-container
{
	background-color: Red;
	display: none;
}
.err-msg-container-shown
{
	display: inherit;
}
.err-msg-title
{
	font-weight: bold;
	margin: 0 1em;
}
.setting-bundled
{
	border: 0;
	padding: 0;
}
.setting-bundled-top
{
	padding-bottom: 0;
}
.badInput
{
	background-color: darkred !important;
}
